# This is a workflow for running tests
name: Test project
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci #this is for node js project for android need to check if we have 
      - name: Run test 
        run: npm test #gradle run tests 
          
 
